/* RESET */
* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}
/* COLORS and FONTS */
header {

}
main {

}
footer {

}

.container {
    display: flex;
    flex-direction: column;
}

@media all and (min-width: 768px) {
    .container {
        flex-direction: row;
        flex-wrap: wrap;    
    } 
    header, 
    footer {
        width: 100%;
    }
    main {
        flex: 2;
        order: 2;
        min-height: 200px;
    }
    
    footer {
        order: 4;
    }
}