@charset "UTF-8";
/* CSS Document */
body{
  font: 15px/1.5 Arial, Helvetica,sans-serif;
  padding:0;
  margin:0;
  background-color:#ffffff;
}

a{
	color:#000;
	text-decoration:none;
}

a:hover {
	color:#e68166;
	text-decoration:none;
	font-weight:400;
}

.orange-color{
	color:#e68166;
}

section{
	margin-bottom: 15px !important;
	margin-top: 15px !important;
}

.top-sub-menu {
    margin: 0 0 10px 0;
    padding: 0;
}
.top-sub-menu ul {
    margin: 0;
    padding: 10px 0 0 0;
    list-style: none;
    text-align: center;
}
.top-sub-menu ul li {
    float: left;
    display: inline-block;
}
.top-sub-menu ul li a {
    color: #000;
    margin: 0 5px;
    text-align: left;
    text-decoration: none;
    font-size: 12px;
    text-transform: uppercase;
    display: block;
}
.top-sub-menu ul li a:hover {
    color: #e68166;
	font-weight: 600;
}
.highlight-color a {
    color: #e68166 !important;
}
.bold {
    font-weight: bold;
}

nav {
    background: #003366;
    color: #ffffff;
    margin-top: 25px;
    border-bottom: #e68166 5px solid;
	 display: -ms-flexbox;
    display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  padding-left: 0;
  margin-bottom: 0;
  list-style: none;
}
nav a {
    color: #ffffff;
    padding-top: 20px;
    min-height: 40px;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 14px;
}
	
.nav-link {
  padding: 15px 10px 10px 15px !important;
display: block;
	border:0;

}

.navbar{
	padding:0;
}

.nav-link .active,
.nav-item.show .nav-link {
 background-color: #e68166 !important;
	color:#fff;
	text-decoration: none;
}

.nav-link:hover, .nav-link:focus .nav-link:active {
	background-color: #e68166 !important;
	color:#fff;
	text-decoration: none;
}

.nav-link {
  border-radius: 0;
}

.nav-item:active {
  color: #fff;
  background-color: #e68166 !important;
}

.nav-link {
  border-radius: 0;
}

/*.nav-link .active,
.show > .nav-link {
  	color: #fff;
	background-color: #e68166 !important;
	}
	*/
/*a:hover{
	color: #fff;
	background-color: #e68166 !important;
	}*/
	

.dropdown-toggle::after {
  display: inline-block;
  margin-left: 0.255em;
  vertical-align: 0.255em;
  content: "";
  border-top: 0.3em solid;
  border-right: 0.3em solid transparent;
  border-bottom: 0;
  border-left: 0.3em solid transparent;
}

.dropdown-toggle:empty::after {
  margin-left: 0;
}

.dropdown-menu {
  position: absolute;
  top: 100%;
  left: 0;
  z-index: 1000;
  display: none;
  float: left;
  min-width: 10rem;
  padding: 0;
  margin: 0;
 /* padding: 0.5rem 0;
  margin: 0.125rem 0 0;*/
  font-size: 1rem;
  color: #212529;
  text-align: left;
  list-style: none;
  background-color: #e68166;
  background-clip: padding-box;
  /*border: 3px solid #e68166;
  border-radius: 0.25rem;*/
}

.dropdown-item:hover, .dropdown-item:focus {
  color: #e68166;
  text-decoration: none;
  background-color: #f8f9fa;
}

.dropdown-item.active, .dropdown-item:active {
  color: #fff;
  text-decoration: none;
  background-color: #003366;
}
.dropdown-innerText {
    background-color: #fff;
    margin-right: 2px;
}
.dropdown-border {
    width: 700px;
    border: solid #e68166 3px;
    padding: 0;
    margin: 0;
}
.dropdown-area {
    border: solid #fff 3px;
    border-top: 0px;
    padding: 8px;
    margin: 6px -6px -3px -6px;
	 box-shadow: 0px 16px 16px 0px rgba(0,0,0,0.5);
}
.search-menu {
    position: absolute;
    top: 100%;
    left: 0;
    z-index: 1000;
    display: none;
    float: left;
    min-width: 200px;
    padding: 0;
    margin: 0;
    color: #212529;
    text-align: left;
    list-style: none;
    background-color: #e68166;
    background-clip: padding-box;
    border: 3px solid #e68166;
}
.top-padding {
    padding-top: 10px;
}
	
	.search-dropmenu{
		min-width: 120px;  
		padding: 5px; 
		background-color:#003366; 
		color:#fff;
	}
	.search-dropmenu a{
		color:#fff;
	}
	.search-dropmenu a:hover{
		color:#e68166;
		background-color:transparent;
	}
	
	.dropdown-item-hover{
		color:#fff;
	}
	
	.dropdown-item-hover:hover{
		color:#e68166;
	}

.dropdown-header {
  display: block;
  padding: 0.5rem 1.5rem;
  margin-bottom: 0;
  font-size: 0.875rem;
  color: #6c757d;
  white-space: nowrap;
}

.dropdown-item-text {
  display: block;
  padding: 0.25rem 1.5rem;
  color: #000;
}

.header-title{
	 margin-top:-10px !important;
}

.searchbar-container
	{
		width:100%;
		display:block;
		margin:auto;
		/*overflow:hidden;*/
		border-top:#003366 solid 1px;
		border-bottom:#003366 solid 1px;
		margin-top:55px;
	}	
	
.searchbar
{
	/*width:50%; */
	padding:0;
	border-right:1px solid #003366;
	border-left:1px solid #003366;
    margin-right: auto;
    margin-left: auto;
}
	
input{margin:0; padding: 10px 10px; line-height: 28px; border:0;}

	
.search-form {margin:0 auto; padding:0; height:50px;}
.search-input {padding: 10px 10px; line-height: 28px; border:0;}
.search-button {height:50px; width:50px; padding:0; margin:0;}
	
.btn {
  color: #000;
  background-color: #fff;
  border-color: #003366; box-shadow: 0px 6px 8px 0px rgba(0,0,0,0.5);
}

/*.btn {
  display: inline-block;
  font-weight: 400;
  color: #fff;
  text-align: center;
  vertical-align: middle;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  background-color: transparent;
  border: 1px solid transparent;
  padding: 0.375rem 0.75rem;
  font-size: 1rem;
  line-height: 1.5;
  border-radius: 0.25rem;
  transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}*/

.btn:hover {
  color: #000;
  background-color: #97b5d3;
}

.btn:focus, .btn.focus {
  outline: 0;
  box-shadow: 0 0 0 0;
}

.btn-primary {
  color: #000;
  background-color: #e68166;
  border-color: #000;
}

.btn-primary:hover {
  color: #fff;
  background-color: #97b5d3;
  border-color: #003366;
}

.btn-primary:focus, .btn-primary.focus {
  color: #fff;
  background-color: #e68166;
  border-color: #003366;
  box-shadow: 0 0 0 0.2rem rgba(38, 143, 255, 0.5);
}

.btn-secondary {
  color: #000;
  background-color: #fff;
  border-color: #003366;
}

.btn-secondary:hover {
  color: #000;
  background-color: #97b5d3;
  border-color: #000;
}

.btn-secondary:focus, .btn-secondary.focus {
  color: #fff;
  background-color: #003366;
  border-color: #000;
  box-shadow: 0 0 0 0.2rem rgba(130, 138, 145, 0.5);
}

.btn-success {
  color: #fff;
  background-color: #003366;
  border-color: #000;
}

.btn-success:hover {
  color: #fff;
  background-color: #97b5d3;
  border-color: #000;
}

.btn-success:focus, .btn-success.focus {
  color: #fff;
  background-color: #003366;
  border-color: #000;
  box-shadow: 0 0 0 0.2rem rgba(38, 143, 255, 0.5);
}


.navbar-brand {
    padding: 0px;
    margin-top: -40px;
	width:414px;
   /* border-right: #003366 2px solid;
    border-left: #003366 3px solid;*/
}
.navbar-brand > img {
    height: 100%;
    padding: 0;
    width: auto;
    background-color: #fff;
}
/*navbar-top {
    color: #ffffff;
    background-color: #003366;
    border-bottom: #e68166 5px solid;
    margin: 0 auto;
    text-align: center;
    text-decoration: none;
    font-size: 16px;
    text-transform: uppercase;
    display: block;
    padding: 20px;
    min-width: 100px;
}*/

/* EXAMPLE 9 - Center with Flexbox and Text*/
.brand-centered {
    display: flex;
    position: absolute;
    /*width: 100%;*/
    left: 50%;
	margin-left:-207px;
    top: 0;
}
/*
.brand-centered {
    display: flex;
    position: absolute;
    left: 50%;
	margin-left:-229px;
    top: 0;
}*/
.brand-centered .navbar-brand {
    display: flex;
    align-items: center;
}

	@media (min-width: 256px) {
  .logo-xs {
    max-width: 60%; 
	  margin:-30px auto;
  }
}

	@media (min-width: 576px) {
  .logo-sm {
    max-width: 70%;
	  margin:-30px auto;
		}
	}

@media (min-width: 768px) {
  .logo-md { 
    margin-top: -30px;
    max-width: 80%;
	  
  }
}

@media (min-width: 992px) {
  .logo-lg {
    max-width: 90%;
    margin-top: -30px;
  }
}

@media (min-width: 1200px) {
  .logo-xl {
    max-width: 100%;
  }
}

.navbar-toggle {
    z-index: 1;
}
/* CSS Transform Align Navbar Brand Text ... This could also be achieved with table / table-cells */
.navbar-alignit .navbar-header {
    -webkit-transform-style: preserve-3d;
    -moz-transform-style: preserve-3d;
    transform-style: preserve-3d;
    height: 50px;
}
/*.navbar-alignit .navbar-brand {
    top: 50%;
    display: block;
    position: relative;
    height: auto;
    transform: translate(0, -50%);
    margin-right: 15px;
    margin-left: 15px;
}*/
.navbar-nav > li > .dropdown-menu {
    z-index: 9999;
}

.navbar-toggler-icon {
  display: inline-block;
  width: 1.5em;
  height: 1.5em;
  vertical-align: middle;
  content: "";
  background: no-repeat center center;
  background-size: 100% 100%;
	z-index:9999;
}
.navbar-toggler-icon {
  background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' width='30' height='30' viewBox='0 0 30 30'%3e%3cpath stroke='rgba(230, 129, 102, 0.5)' stroke-linecap='round' stroke-miterlimit='10' stroke-width='2' d='M4 7h22M4 15h22M4 23h22'/%3e%3c/svg%3e");
}

#hamburgerMenu  {
    z-index: 9999 !important;
	color:#e68166;
}
	
	.jumbotron{
		background-color:#e68166;
		padding:20px 20px 10px 20px;
		 border-radius: 0;
	}	


@media (min-width: 576px) {
  .jumbotron {
    background-color:#e68166;
		padding:20px 20px 10px 20px;
		 border-radius: 0;
  }
}

.jumbotron-fluid {
  padding-right: 0;
  padding-left: 0;
  border-radius: 0;
}


.active{
	background-color: #e68166 !important;
	color:#fff;
	text-decoration: none;
	}
	
	#top-image{
		margin-bottom:0px;
	}
	
	#search{
		background: url("../images/search-black.png") center center no-repeat;
		margin:0;
		padding:0;
		height:50px;
	}
	
	#search:hover{
		background: url("../images/search-orange.png") center center no-repeat;
		margin:0;
		padding:0;
		height:50px;
	}
	

	.breadcrumb-menu {
    margin: 0 30px 0;
    padding: 0;
}
.breadcrumb-menu  ul {
    margin: 0;
    padding: 7px 0 0;
    list-style: none;
    text-align: center;
}
.breadcrumb-menu ul li {
    float: left;
    display: inline-block;
}
.breadcrumb-menu  ul li a {
    color: #000;
    margin: 0 3px;
    text-align: left;
    text-decoration: none;
    font-size: 10px;
    text-transform: uppercase;
    display: block;
}
.breadcrumb-menu  ul li a:hover {
    color: #e68166;
	font-weight:500;
}
	
	#contact-flags{	
	display: flex;
    /*width: 93%;*/
	color:#fff;
	/*margin-bottom:20px;*/
		margin-top:0px;
		padding:0px 0 0 0;
		margin-right:10%;
		
	}
	
	.icon-square{
		background-color:#003366;
		padding:3px;
		margin:0px 2px 0 0;
	}
	.icon-square a{
		padding: 0px 0 0 0;
		margin:0px 0 0 0;
	}
	.icon-square img{
		padding:3px 0px 0px 0px;
		margin:0;
	}
	
	#phone-square{
		background: url("../images/phone-square.png") top center no-repeat;
		padding:4px 0 0px 0;
		margin:0;
	}
	#phone-square:hover{
		background: url("../images/phone-square-hover.png") top center no-repeat;
		
	}
	
	#map-square{
		background: url("../images/map-square.png") top center no-repeat;
		padding:4px 0 0 0;
		margin:0;
	}
	#map-square:hover{
		background: url("../images/map-square-hover.png") top center no-repeat;
	}
	#facebook-square{
		background: url("../images/facebook-square.png") top center no-repeat;
		padding:4px 0 0 0;
		margin:0;
		
	}
	#facebook-square:hover{
		background: url("../images/facebook-square-hover.png") top center no-repeat;
	}

.survey-section{
	/*margin-top: 15px !important;*/
}

.survey-box{
		background-color:#97b5d3;
		margin: 0 10px 20px 10px;
	}
	
	.servicesSection{
		background-color:#97b5d3;
	   margin:auto;
		text-align:center;
		padding: 10px;
	
	}
	/*.servicesSection img{
		width:230px;
	}
	*/
	.servicesProvided{
		background-color:#97b5d3;
		padding:0;
	}
	
	.payment{
		background-color:#97b5d3;
		padding:0;
		/*margin:0;*/
	}

.blueBack{
		background-color:#97b5d3;
		padding:0;
		/*margin:0;*/
	}

   .orangeBack{
		background-color:#e68166;
		padding:0;
	}

 .whiteBack{
		background-color:#fff;
		padding:0;
	}

.faq-b a:hover{
		color:#e68166 !important;
	}


		.faq-2{
		background: url("../images/arrow-down-circle.png") left top no-repeat;
		padding:0px 0 0px 0;
		margin:0;
	}
	
		.faq-2:hover{
		background: url("../images/arrow-down-circle-orange.png") left top no-repeat;
		padding:0px 0 0px 0;
		margin:0;
		color:#fff;
	}
	
	.faq{
		background-color:#e68166;
		padding:0;
	}
		
	.faq-text{
		color:#000;
		padding:20px 0 0px 0px;
	}
	
	.faq-a a:hover{
		color:fff !important;
	}
	.faq-text span{
		margin:0;
		padding:0;
		
	}
	
		.faq-1{
		background: url("../images/arrow-down-circle.png") left top no-repeat;
		padding:0px 0 0px 0;
		margin:0;
	}
	
		.faq-1:hover{
		background: url("../images/arrow-down-circle-white.png") left top no-repeat;
		padding:0px 0 0px 0;
		margin:0;
		color:#fff;
	}
	
	.accordion a {
  position: relative;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  width: 100%;
  padding: 0;
margin:0;
  color: #000;
  font-weight: 400;
 /* border-bottom: 1px solid #e5e5e5;*/
}
.accordion a:hover,
.accordion a:hover::after {
  cursor: pointer;
  color: #fff;
}
.accordion a:hover::after {
  border: 1px solid #003366; /*circle around dropdown*/
}
.accordion a.active {
  color: #fff;
/*  border-bottom: 1px solid red;*/
}
.accordion a::after {
  /*font-family: 'Ionicons';
  content: '\f218';*/
  position: absolute;
  float: right;
  right: 15px;
  font-size: 15px;
  color: #000;
  padding: 5px;
  width: 30px;
  height: 30px;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  border-radius: 50%;
  /*border: 1px solid #7288a2;*/
  text-align: center;
}
.accordion a.active::after {
 /* font-family: 'Ionicons';
  content: '\f209';*/
  color: #fff;
  border: 1px solid green; /*circle around dropdown*/
}
.accordion .faq-content {
  opacity: 0;
  padding: 0px 40px;
	margin:0;
  max-height: 0;
  /*border-bottom: 1px solid #000;*/
  overflow: hidden;
  clear: both;
  -webkit-transition: all 0.2s ease 0.15s;
  -o-transition: all 0.2s ease 0.15s;
  transition: all 0.2s ease 0.15s;
}
/*.accordion .faq-content p {
  font-size: 15px;
  font-weight: 300;
}*/
.accordion .faq-content.active {
  opacity: 1;
  padding: 15px;
  max-height: 100%;
  -webkit-transition: all 0.35s ease 0.15s;
  -o-transition: all 0.35s ease 0.15s;
  transition: all 0.35s ease 0.15s;
}


.accordion-white a {
  position: relative;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  width: 100%;
  padding: 0;
margin:0;
  color: #000;
  font-weight: 400;
 /* border-bottom: 1px solid #e5e5e5;*/
}
.accordion-white a:hover,
.accordion-white a:hover::after {
  cursor: pointer;
  color: red;
}
.accordion-white a:hover::after {
  border: 1px solid #003366; /*circle around dropdown*/
}
.accordion-white a.active {
  color: green;
/*  border-bottom: 1px solid red;*/
}
.accordion-white a::after {
  /*font-family: 'Ionicons';
  content: '\f218';*/
  position: absolute;
  float: right;
  right: 15px;
  font-size: 15px;
  color: #000;
  padding: 5px;
  width: 30px;
  height: 30px;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  border-radius: 50%;
  /*border: 1px solid #7288a2;*/
  text-align: center;
}
.accordion-white a.active::after {
 /* font-family: 'Ionicons';
  content: '\f209';*/
  color: purple;
  border: 1px solid green; /*circle around dropdown*/
}
.accordion-white .faq-content {
  opacity: 0;
  padding: 0px 40px;
	margin:0;
  max-height: 0;
  /*border-bottom: 1px solid #000;*/
  overflow: hidden;
  clear: both;
  -webkit-transition: all 0.2s ease 0.15s;
  -o-transition: all 0.2s ease 0.15s;
  transition: all 0.2s ease 0.15s;
}
/*.accordion2 .faq-content p {
  font-size: 15px;
  font-weight: 300;
}*/
.accordion-white .faq-content.active {
  opacity: 1;
  padding: 15px;
  max-height: 100%;
  -webkit-transition: all 0.35s ease 0.15s;
  -o-transition: all 0.35s ease 0.15s;
  transition: all 0.35s ease 0.15s;
}

/*.services-text{
		padding:0;
	}*/
		
	.services-text{
		color:#000;
		padding:5px 0 0px 0px;
		text-align:left;
	}
	
	.services-a:hover{
		color:fff !important;
	}

	.services-text span{
		margin:0 0 0 -5px;
		padding:0;
		
	}

.services-text a:hover{
		color:fff !important;
	}
		.services-1{
		background: url("../images/check-orange.png") left top no-repeat;
		padding:0px 0 0px 0;
		margin:-5px 0 0 0;
	}
	
		.services-1:hover{
		background: url("../images/check-white2.png") left top no-repeat;
		color:#fff;
	}
	
	
	.orange-line{
		background-color: #e68166;
		width:100%;
		margin:0;
		padding:0;
		height:7px;
	}

	.orange-line-thin{
		background-color: #e68166;
		padding:0;
		margin:0;
		height:3px; 
		text-align:left;
		width:145px; 
		margin-top: -5px; 
		margin-bottom:10px;
	}

.blue-line{
		background-color: #003366;
		width:100%;
		margin:0;
		padding:0;
		height:20px;
	}

	.blue-line-thin{
		background-color: #e68166;
		padding:0;
		margin:0;
		height:3px; 
		text-align:left;
		width:145px; 
		margin-top: -5px; 
		margin-bottom:10px;
	}

.black-line-thin{
		background-color: #000;
		padding:0;
		margin:15px 0px 15px 0px;
		height:3px; 
		width:100%;
	}
	
	.blue-title{
		background-color: #003366;
		width:100%;
		margin-left:auto;
		margin-right:auto;
		padding:15px 0 5px 0px;
		min-height:40px;
		color: #fff;
	}

.blue-background{
		background-color: #97b5d3;
		color: #fff;
	}
.blue-background-black{
		background-color: #97b5d3;
		color: #000;
	}
	
	.button-orange{
		background-color:#e68166;
		width:200px;
		color:#000;
		margin:auto;
	}

.button-orange-sm{
		background-color:#e68166;
		width:175px;
		color:#000;
		margin:auto;
	}
	
	.button-white{
		background-color:#fff;
		color:#000;
 		border-color: #003366;
	}
	
	.button-white:hover{
		background-color:#e68166;
	}
	
	.waitSection{
		background-color:#003366;
		padding:0;
		color:#fff;
	}

	.readMore{
		color:#e68166; 
		font-weight:600;
	}
	
	.news{
		 height:500px;
  		overflow-y: scroll;
	}


	.border{
		border:solid 3px #000;
	}
	
	.footerSection{
		background-color:#003366;
		padding:0;
		color:#fff;
		font-size:14px;
	}
	
	.footer-text{
		padding:0; 
		margin:0; 
		text-align: left; 
		color:#fff;
		font-size:13px;
		line-height:14px;
	}
	
	#slidingFee{
		background: url("../images/sliding-fee-scale.png") center center no-repeat;
		padding:0;
		margin:0 0 15px 0;
		height:150px;
		width:200px;
	}
	
	#slidingFee:hover{
		background: url("../images/sliding-fee-scale-hover.png") center center no-repeat;
		
	}
		#insurance{
		background: url("../images/medicalInsurance.png") center center no-repeat;
		padding:0;
		margin:0 0 15px 0;
		height:150px;
		width:200px;
	}
	
	#insurance:hover{
		background: url("../images/medicalInsurance-hover.png") center center no-repeat;
		
	}
	
		#medicare{
		background: url("../images/medicare.png") center center no-repeat;
		padding:0;
		margin:0 0 15px 15px;
		height:150px;
		width:220px;
	}
	
	#medicare:hover{
		background: url("../images/medicare-hover.png") center center no-repeat;
		
	}
		#medicaid{
		background: url("../images/medicaid.png") center center no-repeat;
		padding:0;
		margin:0 0 15px 15px;
		height:150px;
		width:220px;
	}
	
	#medicaid:hover{
		background: url("../images/medicaid-hover.png") center center no-repeat;
	}
	
		#eap{
		background: url("../images/employee-assistance-program.png") center center no-repeat;
		padding:0;
		margin:0 0 15px 0;
		height:150px;
		width:200px;
	}
	
	#eap:hover{
		background: url("../images/employee-assistance-program-hover.png") center center no-repeat;
	}


.group-list{
	color: #000;
}

.group-list a:hover{
	color: #fff !important;
}

.calendar-icon{
		background-image: url("../images/calendar-white.png") center center no-repeat;
		padding:0;
		margin:0;
		height:200px;
		width:400px;
	}	
	
.calendar-icon:hover{
		background-image: url("../images/calendar-hover.png") center center no-repeat;
	}	
	

.top-padding {
    padding-top: 10px;
}
	
	.top-bottom-border{
		border-top:solid 1px #000; 
		border-bottom:solid 1px #000;
	}
	
	.left-right-padding{
		padding-left:5%; 
		padding-right: 5%;
	}

	.footer-box-top{
		border-bottom:solid 1px; 
		padding-top:20px; 
		padding-bottom:10px; 
		margin-top:5px; 
		margin-bottom:5px;
	}
	
	.footer-box-middle{
		border-bottom:solid 1px; 
		padding-top:10px; 
		padding-bottom:10px; 
		margin-top:5px; 
		margin-bottom:5px; 
	}
		
	.footer-box2{
		border-right:solid 1px; 
		padding-top:10px;
	}
